* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.loading-div {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.movies {
  width: 100vw;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  perspective: 3000px;
  background-color: #000;
}

.movies-wrap {
  width: 300px;
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translateX(-40%);
  transform-style: preserve-3d;
  animation: ani linear 30s infinite;
}

.movies-wrap> :nth-child(1) {
  transform: rotateY(0deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(2) {
  transform: rotateY(30deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(3) {
  transform: rotateY(60deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(4) {
  transform: rotateY(90deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(5) {
  transform: rotateY(120deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(6) {
  transform: rotateY(150deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(7) {
  transform: rotateY(180deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(8) {
  transform: rotateY(210deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(9) {
  transform: rotateY(240deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(10) {
  transform: rotateY(270deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(11) {
  transform: rotateY(300deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(12) {
  transform: rotateY(330deg) translateZ(-1000px);
}

@keyframes ani {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}