* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.movies {
  width: 100vw;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  perspective: 2700px;
  background-color: #000;
}

.movies-wrap {
  width: 300px;
  position: absolute;
  top: 10%;
  left: 45%;
  transform: translateX(-40%);
  transform-style: preserve-3d;
  animation: ani linear 30s infinite;
}

.movies-wrap> :nth-child(1) {
  transform: rotateY(0deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(2) {
  transform: rotateY(30deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(3) {
  transform: rotateY(60deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(4) {
  transform: rotateY(90deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(5) {
  transform: rotateY(120deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(6) {
  transform: rotateY(150deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(7) {
  transform: rotateY(180deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(8) {
  transform: rotateY(210deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(9) {
  transform: rotateY(240deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(10) {
  transform: rotateY(270deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(11) {
  transform: rotateY(300deg) translateZ(-1000px);
}

.movies-wrap> :nth-child(12) {
  transform: rotateY(330deg) translateZ(-1000px);
}

@keyframes ani {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.loading-div {
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.movie-div {
  width: 100vw;
  background-color: #000;
}

.movie-container {
  background-color: #000;
  width: 100vw;
  text-align: center;
  margin: 10px;

  a {
    text-decoration: none;
    color: #000;
  }

  li {
    list-style: none;
    display: inline-block;
  }
}

.movie-paper {
  height: 650px;
  padding: 10px;
  margin: 0 0 10px 0;

  @media screen and (max-width: 768px) {
    margin: 0 5% 0 5%;
  }
}

.detail-div {
  width: 100vw;
  min-height: 100vh;
  background-color: #000;
  padding: 0 0 2% 0;

  @media screen and (max-width: 768px) {
    height: auto;
  }
}

.detail-container {
  margin: 10px;
  
  a {
    text-decoration: none;
    color: #000;
  }

  li {
    list-style: none;
    display: inline-block;
  }
}

.detail-paper {
  height: 100%;
  padding: 10px;
  margin: 0 0 10px 0;

  @media screen and (max-width: 768px) {
    text-align: center;
    margin: 0 5% 0% 5%;
    .detail-img {
      width: 350px;
    }
    .detail-intro1 {
      float: none;
    }
  }
}

.detail-intro1 {
  float: left;
  padding: 0 10px 10px 0;
}